.root {
  border-radius: 0px 8px 8px 8px;
  background: #f3f1ff;
  padding: 24px 16px 24px 24px;
  display: grid;
  grid-template-columns: 227px 1fr;
  gap: 16px;
  align-items: center;
  margin-top: 26px;
  position: relative;
  margin-top: 26px;
  & > div {
    &:first-child {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
    }
  }
  &:before,
  &:after {
    background-color: #f3f1ff;
  }
  & > img {
    margin: 0 auto;
  }
  & > ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 21px;
    border-left: 1px solid #5545d7;
  }
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #5545d7;
    position: absolute;
    left: -26.5px;
  }
  & > span {
    color: #193a54;
    margin-bottom: 8px;
    margin-top: -3px;
    white-space: pre-wrap;
  }
  & > p {
    color: #265071;
    margin-bottom: 8px;
  }
  & > ul {
    color: #265071;
    display: flex;
    flex-direction: column;
  }
}
