.root,
.root:after {
  border-radius: 50%;
}
.root {
  width: 72px;
  height: 72px;
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(57, 161, 237, 0.12) 0deg,
    #39a1ed 360deg
  );
  animation: load3 1.4s infinite linear;
}
.root:after {
  background: #cdd9e7;
  width: 75%;
  height: 75%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
