.header {
    padding: 20px 40px 24px 40px;
    background-color: #f8f9ff;
    &Flex {
        display: flex;
        justify-content: space-between;
        & > div {
            &:first-child {
                h2 {
                    max-width: 675px;
                    color: #005c9a;
                    margin-top: 12px;
                    margin-bottom: 24px;
                }
                p {
                    max-width: 557px;
                    color: #265071;
                }
            }
            &:last-child {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    &SecondaryFlex {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        & > div {
            &:first-child {
                max-width: 331px;
                p {
                    color: #265071;
                    display: grid;
                    grid-template-columns: 24px 1fr;
                    gap: 8px;
                    margin-bottom: 4px;
                    &::before {
                        font-size: 24px;
                        color: #39a1ed;
                    }
                }
            }
        }
    }
    &Btn > button,
    &SecondaryBtn {
        background-color: transparent;
        text-align: left;
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 8px;
        &::before {
            font-size: 24px;
            color: #39a1ed;
        }
    }
    &Btn {
        width: 390px;
        padding: 16px;
        transform: translateX(-16px);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        transition: 0.4s;
        & > button {
            color: #39a1ed;
            transition: 0.4s;
        }
        & > p {
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            transform: translateX(-16px);
            position: absolute;
            width: 100%;
            padding: 8px 16px 16px 48px;
            background-color: white;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    &SecondaryBtn {
        width: 423px;
        padding: 16px 8px 16px 16px;
        border: 1px solid #39a1ed;
        border-radius: 8px;
        color: #193a54;
        transition: 0.4s;
        &:hover {
            background-color: white;
        }
    }
    &LinkBtn {
        position: relative;
        margin-left: 32px;
        & > button {
            background-color: transparent;
            color: #39a1ed;
            padding: 4px 0;
            display: flex;
            gap: 4px;
            flex-direction: row-reverse;
            &::before {
                font-size: 16px;
                color: #39a1ed;
                transform: rotate(-90deg);
            }
        }
        & > ul {
            position: absolute;
            top: 32px;
            z-index: 7;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            padding: 16px 16px 16px 32px;
            width: 419px;
            border-radius: 8px;
            background: #ebf3fb;
            color: #003f6a;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                list-style-type: disc;
            }
        }
    }
}
.navigation {
    position: relative;
    overflow: hidden;
    background: #f8f9ff;
    &Buttons {
        & > button {
            position: absolute;
            border-radius: 8px;
            box-shadow: 8px 8px 16px 0px rgba(12, 22, 44, 0.12);
            display: grid;
            grid-template-columns: 32px 1fr;
            gap: 10px;
            font-family: "Roboto Flex";
            font-size: 16px;
            font-weight: 600;
            padding: 16px 12px;
            align-items: center;
            color: #193a54;
            text-align: left;
            transition: 0.4s;
            z-index: 6;
            &:hover {
                box-shadow: 4px 4px 16px 0px rgba(0, 63, 106, 0.12), 4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
                color: white;
                &:before {
                    color: white !important;
                }
            }
            &:active {
                box-shadow: none;
            }
            &:before {
                font-size: 32px;
                transition: 0.4s;
            }
            &:nth-child(1) {
                top: 260px;
                left: 90px;
                background: linear-gradient(270deg, #ffe8d5, #ffbe84, #ffa85a, white 50%);
                background-size: 300% 300%;
                &:before {
                    color: #f48a2c;
                }
                &:hover {
                    background-position: 99% 50%;
                }
            }
            &:nth-child(2) {
                top: 120px;
                left: 384px;
                width: 240px;
                background: linear-gradient(270deg, #eedaff, #d3a0ff, #c481ff, white 50%);
                background-size: 300% 300%;
                &:before {
                    color: #5545d7;
                }
                &:hover {
                    background-position: 99% 50%;
                }
            }
            &:nth-child(3) {
                top: 51px;
                left: 882px;
                width: 270px;
                background: linear-gradient(270deg, #dff2ff, #9ad4ff, #99d4ff, white 50%);
                background-size: 300% 300%;
                &:before {
                    color: #39a1ed;
                }
                &:hover {
                    background-position: 99% 50%;
                }
            }
            &:nth-child(4) {
                top: 325px;
                left: 1132px;
                width: 268px;
                background: linear-gradient(270deg, #ffe0dd, #f99087, #ff7c71, white 50%);
                background-size: 300% 300%;
                &:before {
                    color: #f46c63;
                }
                &:hover {
                    background-position: 99% 50%;
                }
            }
            &:nth-child(5) {
                top: 556px;
                left: 843px;
                width: 292px;
                background: linear-gradient(270deg, #eaffb7, #c1e763, #a2c942, white 50%);
                background-size: 300% 300%;
                &:before {
                    color: #9cc040;
                }
                &:hover {
                    background-position: 99% 50%;
                }
            }
        }
    }
    &Pedestals {
        & > div {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover {
                & > img {
                    &:first-child {
                        transform: matrix(1, 0, 0, 1, 0, -25);
                    }
                }
            }
            & > img {
                &:first-child {
                    position: relative;
                    z-index: 1;
                    transition: 0.4s;
                }
                &:last-child {
                    position: absolute;
                }
            }
            &:nth-child(1) {
                bottom: 99px;
                left: 199px;
                z-index: 5;
                & > img {
                    &:last-child {
                        bottom: -36px;
                    }
                }
            }
            &:nth-child(2) {
                bottom: 233px;
                left: 453px;
                z-index: 3;
                & > img {
                    &:last-child {
                        bottom: -108px;
                    }
                }
            }
            &:nth-child(3) {
                bottom: 55px;
                left: 662px;
                z-index: 4;
                & > img {
                    &:last-child {
                        bottom: -65px;
                    }
                }
            }
            &:nth-child(4) {
                bottom: 232px;
                left: 895px;
                z-index: 2;
                & > img {
                    &:last-child {
                        bottom: -145px;
                    }
                }
            }
            &:nth-child(5) {
                bottom: 374px;
                left: 690px;
                z-index: 1;
                & > img {
                    &:last-child {
                        bottom: -199px;
                    }
                }
            }
        }
    }
}
.activeTooltip {
    opacity: 1 !important;
    visibility: visible !important;
}
