@import "null";
@import "fonts";
@import "icons";

body {
    &.lock {
        overflow: hidden;
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.text-xs,
.text-medium-xs {
    font-size: 12px;
    line-height: 16px;
}
.text-xs {
    font-weight: 400;
}
.text-medium-xs {
    font-weight: 500;
}
.text-s,
.text-medium-s {
    font-size: 14px;
    line-height: 18px;
}
.text-s {
    font-weight: 400;
}
.text-medium-s {
    font-weight: 500;
}
.title {
    font-size: 48px;
    font-family: "Roboto Flex";
    font-weight: 600;
    line-height: normal;
}
.subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.modal-subtitle {
    font-family: "Roboto Flex";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
.block {
    &:before,
    &:after {
        content: "";
        display: block;
        height: 26px;
        position: absolute;
        top: -26px;
        left: 0;
    }
    &:before {
        width: 135px;
        border-radius: 8px 4px 0px 0px;
    }
    &:after {
        width: 60px;
        border-radius: 0px 4px 0px 0px;
        transform: skew(60deg) translateX(100px);
    }
}

.animation-enter {
    opacity: 0;
    z-index: 7;
    position: relative;
}
.animation-enter-active {
    opacity: 1;
    transition: 300ms;
}
.animation-exit {
    opacity: 1;
    z-index: 7;
    position: relative;
}
.animation-exit-active {
    opacity: 0;
    transition: 300ms;
}

.secondary-animation-enter {
    transform: translateX(100%);
}
.secondary-animation-enter-active {
    transform: none;
    transition: 600ms;
}

.loader,
.loader:after {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2px solid rgba(101, 171, 248, 0.2);
    border-right: 2px solid rgba(101, 171, 248, 0.2);
    border-bottom: 2px solid rgba(101, 171, 248, 0.2);
    border-left: 2px solid #69bbff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
