.container {
  max-width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
}
.textXs,
.textMediumXs {
  font-size: 12px;
  line-height: 16px;
}
.textXs {
  font-weight: 400;
}
.textMediumXs {
  font-weight: 500;
}
.textS,
.textMediumS {
  font-size: 14px;
  line-height: 18px;
}
.textS {
  font-weight: 400;
}
.textMediumS {
  font-weight: 500;
}
.title {
  font-size: 48px;
  font-family: 'Roboto Flex';
  font-weight: 600;
  line-height: normal;
}
.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.smallTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.modalSubtitle {
  font-family: 'Roboto Flex';
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.lock {
  overflow: hidden;
}

.iconRecordVoiceOver:before {
  content: '\e923';
}
.iconPartnerExchange:before {
  content: '\e924';
}
.iconPersonPlay:before {
  content: '\e925';
}
.iconSupportAgent:before {
  content: '\e926';
}
.iconDeveloperGuide:before {
  content: '\e901';
}
.iconFileCopy:before {
  content: '\e902';
}
.iconFolderSupervised:before {
  content: '\e903';
}
.iconPersonPin:before {
  content: '\e904';
}
.iconStar:before {
  content: '\e905';
}
.iconListAlt:before {
  content: '\e906';
}
.iconFactCheck:before {
  content: '\e907';
}
.iconSocialDistance:before {
  content: '\e908';
}
.iconSpeed:before {
  content: '\e909';
}
.iconChartData:before {
  content: '\e90a';
}
.iconManageHistory:before {
  content: '\e90b';
}
.iconDeployedCodeAccount:before {
  content: '\e90c';
}
.iconCancel:before {
  content: '\e90d';
}
.iconReceiptLong:before {
  content: '\e90e';
}
.iconUnknownDocument:before {
  content: '\e90f';
}
.iconCaptivePortal:before {
  content: '\e910';
}
.iconPolygon:before {
  content: '\e911';
}
.iconNorthEast:before {
  content: '\e912';
}
.iconDeployedCodeAlert:before {
  content: '\e913';
}
.iconNotificationImportant:before {
  content: '\e914';
}
.iconTabs:before {
  content: '\e915';
}
.iconBoxEdit:before {
  content: '\e916';
}
.iconDisplaySettings:before {
  content: '\e917';
}
.iconGroups:before {
  content: '\e918';
}
.iconMonitoring:before {
  content: '\e919';
}
.iconFolderOpen:before {
  content: '\e91a';
}
.iconAdminPanelSettings:before {
  content: '\e91b';
}
.icon05:before {
  content: '\e91c';
}
.icon04:before {
  content: '\e91d';
}
.icon03:before {
  content: '\e91e';
}
.iconLine:before {
  content: '\e900';
}
.icon02:before {
  content: '\e91f';
}
.icon01:before {
  content: '\e920';
}
.iconChevronRight:before {
  content: '\e921';
}
