@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?rxc3q1');
  src: url('../fonts/icomoon.eot?rxc3q1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rxc3q1') format('truetype'),
    url('../fonts/icomoon.woff?rxc3q1') format('woff'),
    url('../fonts/icomoon.svg?rxc3q1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-record-voice-over:before {
  content: '\e923';
}
.icon-partner-exchange:before {
  content: '\e924';
}
.icon-person-play:before {
  content: '\e925';
}
.icon-support-agent:before {
  content: '\e926';
}
.icon-developer-guide:before {
  content: '\e901';
}
.icon-file-copy:before {
  content: '\e902';
}
.icon-folder-supervised:before {
  content: '\e903';
}
.icon-person-pin:before {
  content: '\e904';
}
.icon-star:before {
  content: '\e905';
}
.icon-list-alt:before {
  content: '\e906';
}
.icon-fact-check:before {
  content: '\e907';
}
.icon-social-distance:before {
  content: '\e908';
}
.icon-speed:before {
  content: '\e909';
}
.icon-chart-data:before {
  content: '\e90a';
}
.icon-manage-history:before {
  content: '\e90b';
}
.icon-deployed-code-account:before {
  content: '\e90c';
}
.icon-cancel:before {
  content: '\e90d';
}
.icon-receipt-long:before {
  content: '\e90e';
}
.icon-unknown-document:before {
  content: '\e90f';
}
.icon-captive-portal:before {
  content: '\e910';
}
.icon-polygon:before {
  content: '\e911';
}
.icon-north-east:before {
  content: '\e912';
}
.icon-deployed-code-alert:before {
  content: '\e913';
}
.icon-notification-important:before {
  content: '\e914';
}
.icon-tabs:before {
  content: '\e915';
}
.icon-box-edit:before {
  content: '\e916';
}
.icon-display-settings:before {
  content: '\e917';
}
.icon-groups:before {
  content: '\e918';
}
.icon-monitoring:before {
  content: '\e919';
}
.icon-folder-open:before {
  content: '\e91a';
}
.icon-admin-panel-settings:before {
  content: '\e91b';
}
.icon-05:before {
  content: '\e91c';
}
.icon-04:before {
  content: '\e91d';
}
.icon-03:before {
  content: '\e91e';
}
.icon-line:before {
  content: '\e900';
}
.icon-02:before {
  content: '\e91f';
}
.icon-01:before {
  content: '\e920';
}
.icon-chevron-right:before {
  content: '\e921';
}
