.menu {
    position: absolute;
    background: #f2f5f8;
    width: 597px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: -4px 4px 16px 0px rgba(25, 58, 84, 0.12);
    padding: 32px 40px;
    overflow-y: auto;
    & > ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: "Roboto Flex";
        color: #193a54;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        & > li {
            padding: 18px 24px;
            background-color: white;
            border-radius: 8px;
            min-height: 105px;
            background-repeat: no-repeat;
            background-position: right;
            transition: 0.4s;
            outline: 1px solid transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            & > span {
                max-width: 291px;
                color: #193a54;
            }
            & > ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                color: #265071;
                max-height: 0;
                overflow: hidden;
                padding: 1px;
                transition: 0.7s;
                & > li {
                    padding: 8px;
                    border-radius: 4px;
                    transition: 0.4s;
                    &:hover {
                        color: white;
                    }
                    &:first-child {
                        margin-top: 16px;
                    }
                }
            }
            &:nth-child(1) {
                background-image: url("../../../../public/images/main/menu/img-1.webp");
                background-position-y: -14px;
                &:hover {
                    outline: 1px solid #f48a2c;
                }
                & > ul > li {
                    outline: 1px solid #f48a2c;
                    background: linear-gradient(270deg, #ffe8d5, #ffbe84, #ffa85a, white 50%);
                    background-size: 300% 300%;
                    &:hover {
                        background-position: 99% 50%;
                        outline: 1px solid #ffe8d5;
                    }
                }
            }
            &:nth-child(2) {
                &:hover {
                    outline: 1px solid #5545d7;
                }
                & > ul > li {
                    outline: 1px solid #5545d7;
                    background: linear-gradient(270deg, #eedaff, #d3a0ff, #c481ff, white 50%);
                    background-size: 300% 300%;
                    &:hover {
                        background-position: 99% 50%;
                        outline: 1px solid #eedaff;
                    }
                }
            }
            &:nth-child(3) {
                &:hover {
                    outline: 1px solid #39a1ed;
                }
                & > ul > li {
                    outline: 1px solid #39a1ed;
                    background: linear-gradient(270deg, #dff2ff, #9ad4ff, #99d4ff, white 50%);
                    background-size: 300% 300%;
                    &:hover {
                        background-position: 99% 50%;
                        outline: 1px solid #dff2ff;
                    }
                }
            }
            &:nth-child(4) {
                background-image: url("../../../../public/images/main/menu/img-4.webp");
                background-position-y: -40px;
                & > span {
                    max-width: 281px;
                }
                &:hover {
                    outline: 1px solid #9cc040;
                }
            }
            &:nth-child(5) {
                &:hover {
                    outline: 1px solid #f46c63;
                }
                & > ul > li {
                    outline: 1px solid #f46c63;
                    background: linear-gradient(270deg, #ffe0dd, #f99087, #ff7c71, white 50%);
                    background-size: 300% 300%;
                    &:hover {
                        background-position: 99% 50%;
                        outline: 1px solid #ffe0dd;
                    }
                }
            }
        }
    }
    &Active {
        transform: none;
    }
    &Container {
        position: fixed;
        max-height: 980px;
        height: 100%;
        width: 1440px;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        overflow: hidden;
    }
}
.active {
    max-height: 700px !important;
}
