.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 16px;
  & > img {
    margin: 0 auto;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  &Item {
    position: relative;
    padding-top: 10px;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 79px;
      height: 2px;
      background-color: #f46c63;
      top: 0;
    }
    & > h4 {
      color: #193a54;
      padding-bottom: 16px;
      & > a {
        color: #39a1ed;
        text-decoration: none;
      }
    }
    & > p {
      color: #265071;
      padding-bottom: 16px;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: #265071;
      & > li {
        display: flex;
        gap: 6px;
        &:before {
          content: '';
          min-width: 3px;
          height: 3px;
          border-radius: 100%;
          background-color: #f46c63;
          transform: translateY(6px);
        }
      }
    }
    & > span {
      color: #f46c63;
      position: absolute;
      top: -8px;
      right: 0;
    }
  }
}
