.root {
    position: relative;
    & > img {
        position: absolute;
        right: 0;
        top: -60px;
    }
    & > h2 {
        color: #193a54;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    & > p {
        color: #265071;
        max-width: 457px;
        margin-bottom: 48px;
    }
}
.stepper {
    margin-bottom: 49px;
    & > h3 {
        color: #193a54;
        margin-bottom: 24px;
    }
}
.text {
    display: flex;
    gap: 168px;
    padding-bottom: 24px;
    & > p {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #265071;
        & > span {
            color: #193a54;
            font-weight: 500;
        }
    }
}
.grid {
    border-radius: 8px;
    border: 1px solid #5545d7;
    padding: 24px;
    margin-bottom: 48px;
    & > h3 {
        color: #193a54;
        margin-bottom: 24px;
    }
    & > div {
        grid-template-columns: 314px 314px;
        justify-content: space-between;
        display: grid;
        & > p {
            color: #265071;
            display: flex;
            gap: 8px;
            &:before {
                font-size: 16px;
                color: #5545d7;
            }
        }
    }
}
.instructions {
    & > h3 {
        color: #193a54;
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 24px;
        &:before {
            font-size: 32px;
            color: #5545d7;
        }
    }
}
