.backButton {
    background-color: transparent;
    color: #39a1ed;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
    &:before {
        transform: rotate(90deg);
        font-size: 24px;
    }
}
