.root {
  padding: 24px;
  position: relative;
  border-radius: 0px 8px 8px 8px;
  &:before,
  &:after {
    background-color: #e3f3ff;
  }
  & > div {
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
    }
    &:nth-child(2) {
      display: grid;
      grid-template-columns: 59px 1fr;
      gap: 8px;
      align-items: center;
      margin-bottom: 8px;
    }
    &:nth-child(3) {
      padding-left: 68px;
    }
  }
}
.lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
  & > div {
    margin-top: 24px;
    & > p {
      color: #193a54;
      margin-bottom: 8px;
    }
    & > span {
      color: #265071cc;
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 6px;
  margin-top: 16px;
  & > li {
    display: flex;
    gap: 8px;
    transform: translateX(-8.5px);
    & > span {
      display: block;
      min-width: 16px;
      height: 16px;
      border-radius: 100%;
    }
  }
}
.secondaryList {
  margin-bottom: 8px;
  color: white;
  padding-left: 10px;
  & > li {
    list-style-type: disc;
  }
}
.note {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 23px 1fr;
  gap: 8px;
  &:before {
    font-size: 23px;
    color: #39a1ed;
  }
  & > div {
    & > span {
      color: #193a54;
    }
    & > ul {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #265071;
      & > li {
        list-style-type: none;
      }
    }
  }
}
