.root {
  display: grid;
}
.grid {
  display: flex;
  flex-direction: column;
  & > span {
    color: #193a54;
  }
  & > p {
    color: #265071;
    & > a {
      color: #39a1ed;
      text-decoration: none;
    }
  }
  &Item {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    position: relative;
    & > div {
      &:nth-child(1) {
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
      &:nth-child(2) {
        height: 1px;
        flex: 1 1 auto;
      }
    }
    & > svg {
      position: absolute;
      right: -1px;
    }
  }
}
