.root {
  padding: 4px 4px 4px 8px !important;
  border-radius: 24px;
  background: #fff;
  box-shadow: 4px 4px 4px 0px #4343431a inset;
  width: 87px;
  height: 32px;
  position: relative;
  cursor: pointer;
  outline: 1px solid #c5c5c5;
  transition: 0.7s;
  background-color: #ececec;
  & > div {
    width: 24px;
    height: 24px;
    background-color: #bbe2ff;
    border-radius: 100%;
    transition: 0.7s;
    filter: drop-shadow(2px 2px 4px rgba(2, 39, 88, 0.15));
  }
  & > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #193a54;
    opacity: 0;
    visibility: hidden;
  }
}
.active {
  outline: 1px solid #dedede;
  background-color: white;
  & > div {
    background-color: #39a1ed;
    transform: translateX(51px);
  }
  & > span {
    opacity: 1;
    visibility: visible;
    transition: 0.7s;
    transition-delay: 0.5s;
  }
}
